In [84]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import PolynomialFeatures

In [49]:
Data = pd.read_csv("science_data_large.csv") # reads CSV file and stores in Data

In [50]:
Data.head(15) # returns first 15 rows of Dataframe

    Temperature °C  Mols KCL     Size nm^3
0              469       647  6.244743e+05
1              403       694  5.779610e+05
2              302       975  6.196847e+05
3              779       916  1.460449e+06
4              901        18  4.325726e+04
5              545       637  7.124634e+05
6              660       519  7.006960e+05
7              143       869  2.718260e+05
8               89       461  8.919803e+04
9              294       776  4.770210e+05
10             991       117  2.441771e+05
11             307       781  5.006455e+05
12             206        70  3.145200e+04
13             437       599  5.390215e+05
14             566        75  9.185271e+04

In [51]:
Data.shape # returns number of rows and columns

(1000, 3)

In [52]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temperature °C  1000 non-null   int64
 1   Mols KCL        1000 non-null   int64
 2   Size nm^3       1000 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 23.6 KB

In [69]:
# Data_Train, Data_Test = train_test_split(Data, test_size = 0.1) # split using Sklearn
X = Data[["Temperature °C","Mols KCL"]]
Y = Data["Size nm^3"]

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.1) # split using Sklearn

In [54]:
X_train

     Temperature °C  Mols KCL
166             556       953
852             342       643
276             246       202
428             814       644
612              41       179
..              ...       ...
164             715       687
229              28       107
673             753       812
604             749       916
791             560       642

[900 rows x 2 columns]

In [55]:
Y_test

779    1.109520e+06
761    2.173343e+05
243    2.370801e+05
26     8.030359e+05
263    9.587635e+05
           ...
88     8.684308e+05
420    9.667283e+04
119    4.327283e+04
567    2.935468e+05
269    7.003229e+05
Name: Size nm^3, Length: 100, dtype: float64

In [56]:
regTrain = LinearRegression().fit(X_train.values,Y_train)

print(regTrain)

In [60]:
regTrain.score(X_train.values,Y_train)

0.8591280684691994

In [58]:
regTrain.predict([[690.1,79]])

array([274147.90453954])

In [77]:
scores = cross_val_score(regTrain, X, Y, cv = 15)

In [78]:
print(scores)

[0.79028083 0.86917059 0.85559836 0.85907049 0.87786968 0.86099121
 0.87124279 0.85495367 0.85432399 0.88231404 0.85851787 0.8673683
 0.74745492 0.87694851 0.88229995]

In [80]:
scores.mean

In [83]:
np.mean(scores)

0.8538936791610037

In [85]:
poly = PolynomialFeatures(degree = 2)

In [86]:
poly.fit_transform(X_train)

array([[1.00000e+00, 3.71000e+02, 4.96000e+02, 1.37641e+05, 1.84016e+05,
        2.46016e+05],
       [1.00000e+00, 1.33000e+02, 6.49000e+02, 1.76890e+04, 8.63170e+04,
        4.21201e+05],
       [1.00000e+00, 3.27000e+02, 9.82000e+02, 1.06929e+05, 3.21114e+05,
        9.64324e+05],
       ...,
       [1.00000e+00, 5.71000e+02, 3.88000e+02, 3.26041e+05, 2.21548e+05,
        1.50544e+05],
       [1.00000e+00, 7.39000e+02, 4.06000e+02, 5.46121e+05, 3.00034e+05,
        1.64836e+05],
       [1.00000e+00, 9.70000e+02, 5.75000e+02, 9.40900e+05, 5.57750e+05,
        3.30625e+05]])

In [ ]:
poly.predict()